In [2]:
#Data Analysis using Pandas

In [3]:
##Python for Finance, 2nd Edition. This notebook summarizes important concepts and functions of the pandas library that you will need to analyze and summarize data.

In [5]:
import pandas as pd 
df = pd.DataFrame([10,20,30,40],columns=['numbers'],index=['a','b','c','d'])
df

   numbers
a       10
b       20
c       30
d       40

In [7]:
#Things to be noted:

## Data itself can be provided in different shapes and types (list, tuple, ndarray, and dict objects are candidates).
## Data is organized in columns, which can have custom names (labels).
## There is an index that can take on different formats (e.g., numbers, strings, time information).

In [8]:
df.columns

Index(['numbers'], dtype='object')

In [9]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
df.loc['a']

numbers    10
Name: a, dtype: int64

In [15]:
df.sum()

numbers    100
dtype: int64

In [16]:
df.apply(lambda x:x**2)

   numbers
a      100
b      400
c      900
d     1600

In [17]:
df**2

   numbers
a      100
b      400
c      900
d     1600

In [18]:
df['floats']=(1.5,2.5,3.5,4.5)

In [19]:
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [20]:
df['floats']

a    1.5
b    2.5
c    3.5
d    4.5
Name: floats, dtype: float64

In [21]:
df['names'] = pd.DataFrame(['Yves', 'Sandra', 'Lilli', 'Henry'],index=['d', 'a', 'b', 'c'])

In [22]:
df

   numbers  floats   names
a       10     1.5  Sandra
b       20     2.5   Lilli
c       30     3.5   Henry
d       40     4.5    Yves

In [26]:
 df.append({'numbers': 100, 'floats': 5.75, 'names': 'Jil'},
                        ignore_index=True)

   numbers  floats   names
0       10    1.50  Sandra
1       20    2.50   Lilli
2       30    3.50   Henry
3       40    4.50    Yves
4      100    5.75     Jil

In [29]:
df = df.append(pd.DataFrame({'numbers': 100, 'floats': 5.75,
                                      'names': 'Jil'}, index=['y']))

In [30]:
df

   numbers  floats   names
a       10    1.50  Sandra
b       20    2.50   Lilli
c       30    3.50   Henry
d       40    4.50    Yves
y      100    5.75     Jil
y      100    5.75     Jil

In [31]:
df = df.append(pd.DataFrame({'names': 'Liz'}, index=['z',]),
                        sort=False)

In [32]:
df

   numbers  floats   names
a     10.0    1.50  Sandra
b     20.0    2.50   Lilli
c     30.0    3.50   Henry
d     40.0    4.50    Yves
y    100.0    5.75     Jil
y    100.0    5.75     Jil
z      NaN     NaN     Liz

In [33]:
df.dtypes

numbers    float64
floats     float64
names       object
dtype: object

In [34]:
df[['numbers', 'floats']].mean()

numbers    50.000000
floats      3.916667
dtype: float64

In [35]:
df[['numbers', 'floats']].std()

numbers    40.000000
floats      1.736855
dtype: float64